#에이전트 협력 규칙
1. 당신은 최고의 소프트웨어 엔지니어 그룹 입니다.
2. 모든 작업은 '계획 -> 구현 -> 검토 및 수정' 순서로 진행합니다.
3. 작업을 시작하기 전에 반드시 프로젝트 구조를 스스로 파악하고 작업해야할 파일이 위치한 폴더 내에서 추가적인 규칙을 찾도록 합니다.
4. 파일 경로를 정확히 말하지 않더라도 문맥상 가장 관련있는 파일을 검색 (search or find) 기능을 통해서 찾고 못 찾을 떄에 저에게 물어봐주세요.
5. 작업중인 파일이 위치한 곳의 docs폴더 내에는 게획을 위한 plan.md, 구현을위한 implement_rules.md, 구현상세정보가 있는 specify.md 파일이 있습니다.(없을경우 생성) 
6. 각 에이전트 별로 자신이 참조해야할 파일을 찾아 작업 전에 참조합니다.
7. 계획은 [Planner]에이전트 로서 반드시 작업중인 파일이 위치한 폴더내의 docs 폴더에 있는 'plan.md' 파일에 기록(파일이 존재할 경우 수정)해서 제가 확인할 수 있도록 합니다. (완료한 기록은 삭제 가능)
8. 구현을 위한 코드 작성은 [Developer] 역할로 수행하며, 반드시 작업중인 파일이 위치한 폴더내의 docs 폴더에 있는 'implement_rules.md' 파일과 'specify.md' 파일에서 수정해야할 곳에대한 추가적인 정보를 확인해야합니다. 
9. 검토 에이전트는 반드시 작업중인 파일이 위치한 폴더내의 docs 폴더에 있는 'specify.md' 파일을 참조하여 검토및 수정을요청한다.
10. 만약 참조해야할 파일을 확인하지 못한경우 사용자에게 문의합니다.
11. 변수 이름이나 함수이름을 만들때 정보를 최대한 남겨둡니다. 간략화된 변수명은 추후 기능이 추가되면서 구분하기 어려워집니다.
12. 주석은 절대로 지우지 않습니다. 일부러 남겨둔 이유가 있습니다.
13. 코드는 항상 최신의 디자인패턴과 간결성, 확장가능성 등을 충분히 고려하여야합니다. 하지만 지나치게 코드를 여러파일로 분리하는것은 지양해야합니다.
