CompileFlags:
  Add: 
    - -std=c++20
    - -fms-compatibility
    - -fms-extensions
    - -I./include         # 헤더 파일들이 있는 폴더 (본인의 구조에 맞게 수정)
    - -I.                 # 현재 폴더 포함
  Compiler: cl.exe        # 사용 중인 MSVC 컴파일러 지정

Index:
  Background: Build